        <!DOCTYPE html>
        <html lang="en">

        <head>

        	<meta charset="utf-8">
        	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        	<meta name="description" content="">
        	<meta name="author" content="">

        	<title>3DP-INF</title>

        	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.bundle.min.js"></script>
        	<link rel="icon" type="image/png" href="public/images/fav.png">

        	<style>
        		body {
        			padding-top: 54px;
        		}
        		@media (min-width: 992px) {
        			body {
        				padding-top: 56px;
        			}
        		}

        	</style>
        </head>

        <body>
        	<!-- Page Content -->
        	<div class="container">
        		<div class="row">
        			<div class="col-lg-12 text-left">
        				<h1 class="mt-5">Dashboard</h1>
        			</div>
        		</div>

        		<div class="row">
        			<div class="col-lg-12 text-left">
        				<form class="btn-group " action="/check" method="GET">
        					<button class="btn btn-primary">check material</button>
        					<input type="hidden" class="btn"><!-- fake sibling to right -->
        				</form>

        				<form class="btn-group" action="/file" method="GET">
        					<input type="hidden" class="btn"><!-- fake sibling to left -->
        					<button class="btn btn-primary">submit gcode</button>
        				</form>
        			</div>
        		</div>


        		<div class="row">
        			<div class="col-lg-12 text-left">
        				<h5 class="mt-1">Material</h5>
        				<table class="table">
        					<tr>
        						<th><p>Material ID</p></th>
        						<th><p>Material Name</p></th>
        						<th><p>Filament Weight (g)</p></th>
        					</tr>
        					<tr>
        						<% for(var i=0; i < datas.length; i++) { %>
        						<td><%= datas[i].materialID %></td>
        						<td><%= datas[i].materialName %></td>
        						<td><%= datas[i].filamentWeight %></td>
        					</tr>
        					<% } %>
        				</table>
        			</div>
        		</div>
        	</div>
        </body>

        </html>
