<!DOCTYPE html>
<html>

	<head>
	    <title>3D Printer</title>
	        <meta charset="utf-8"/>
	  
	      	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	        <link href='https://fonts.googleapis.com/css?family=Roboto:350,450,750' rel='stylesheet' type='text/css'>
	        <link href='https://fonts.googleapis.com/css?family=Pacifico:300,400,700' rel='stylesheet' type='text/css'>
	        <link rel="stylesheet" type="text/css" href="/css/uploadInfo.css">
	        <link rel="icon" type="image/png" href="images/fav.png">
	</head>

	<body>
	    <header class="container">
	  	     <div class="row">
	  	     	<div class="col-sm-8">
	  	     		<form action="index" method="get">
      				<input type="submit" id="title" value="3D Printer"></input>
      				</form>
	  	     	</div>

	  	     	<div class="col-sm-8 text-right">
	  	     		<a href="https://www.inf.reutlingen-university.de/home/">
	  	     		<img type="image" id="logoImage" src="images/logo_inf.png">
	  	     		</a>
	  	     	</div>	

	  	     	<div class="col-sm-4 ">
	  	     		<a href="https://www.reutlingen-university.de/home/">
	  	     		<img type="image" id="hsImage" src="images/hs_logo.png">
	  	     		</a>
	  	     	</div>
	           
	           <!-- 	
	            <div class="col-sm-8 text-right">
	            	<nav>
	                	<form action="help" method="get">
      						<input type="submit" id="navHelp" value="Help"></input>
      					</form>
	                </nav>
	            </div>
	            -->

	         </div>
	 	</header>
	
  	<section class="jumbotron">
      	<div class="container">
          <div class="row">
          	<div class="col-sm-12">
          			<h1> Materials </h1>
          	</div>
          	<div class="col-sm-12">
          		
			 	<table class="table">
			 		<tr>
			 			<th><p>Material ID</p></th>
					    <th><p>Material Name</p></th>
					    <th><p>Material Color</p></th>
					    <th><p>Filament Weight (g)</p></th>
			 		</tr>
					<tr>
					   	<% for(var i=0; i < datas.length; i++) { %>
					     <td><%= datas[i].materialID %></td>
					     <td><%= datas[i].materialName %></td>
					     <td><%= datas[i].materialFarbe %></td>
					     <td><%= datas[i].filamentWeight %></td>
					   </tr>
						<% } %>
				</table>
          	</div>
          </div>
        </div>
 	</section>
	</body>
</html>

