body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h4 {
    margin: 0;
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-top: 5px;
}



header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  font-size: 50px;
  margin: 20;
  font-family: 'Roboto', sans-serif;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-color: #FDF189;
  color: #ffffff;
  height: 600px;
}

.jumbotron h1 {
  font-size: 42px;
  font-weight: 700;
  margin: 30;
  color: black;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
  font-size: 30px;
}

.jumbotron p {
  font-size: 20px;
  color: black;
}

section .row  img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

/*
button
*/
#submitButton {
  background-color: white;
  font-size: 20px;
  color:black;
}

#submitButton:hover {
  background-color: #FFD435;
  font-size: 20px;
  color: #ffffff;
}

#navHelp {
  background-color: white;
  color: black;
}

#navHelp:hover {
  background-color: white;
  color:#FFE06F;
}


/*
form
*/
input {
border: 0px;
height: 35px;
width: 400px;
border-radius: 5px;
margin-top: 2px;
}

form{
font-size: 18px;
}

input, select, textarea{
    color: #000000;
}

a:link, a:visited { 
    text-decoration: none;
    color:#000000;
    cursor: auto;
}

nav a:hover {
  color:#f95959;
}

table,tr,td {
  border: 0px solid black;
  background-color: white;
}

tr,th,td {
    color: black;
    font-weight: 20px;
    font-size: 20px;
    padding: 10px;
    text-align: left;
}

th {
    color: black;
    background-color: lightgrey;
    font-weight: 20px;
    font-size: 22px;
    padding: 10px;
    text-align: left;
}

#logoImage {
    width: 150px;
    height: 50px;
    margin-top: 15px;
}

#hsImage {
    width: 210px;
    height: 75px;
    margin-top: 15px;
}

#docImage {
    width: 100px;
    height: 100px;
    margin-left: 0px;
}

#databaseImage {
  width: 150px;
  height: 150px;
}

#title {
    font-size: 50px;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    width: 300px;
    height: 60px;
    background: white;
}